<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>

	<body>
		<section>
			<h1 class="text-center" style="color:orange; font-size:4em">Review Search Form</h1>
		</section>

		<section class="text-center">
            <form action="" method="post">
                <div class="form-group">
                    <div>
                        {{ form.hidden_tag() }}
                    </div>
                    <div style="font-size:2em; color:darkslategray">
                        <label for="exampleInputEmail1">{{ form.keywords.label }}</label>
                    </div>
                    <div>
                        {{ form.keywords(size=32) }}
                    </div>
                </div> 
                <div>
                    <br>{{ form.submit() }}
                </div>               
                
            </form>
		</section>
	</body>
</html> 

<h1></h1>
    
